<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <style id="head-block"></style>
    <title>Dashboard</title>
</head>
<body>
    <div class="row main">
        <div class="col-xs-2 sidebar">
            <a href="/admin"><h1 class="options" id="logo">Dashboard</h1></a>
            <h2 class="options" onclick="showPublish()">New</h2>
            <h2 class="options" onclick="showViewAll()">Posts</h2>
            <h2 class="options" onclick="showImages()">Images</h2>
        </div>
        <div class="col-sm-10 col-xs-12 main-body">
            <div class="header">
                <br>
            </div>
            <div id="content">
                <!--  -->                
            </div>
        </div>
    </div>

    <script>

        const headBlock = document.getElementById('head-block')
        const contentBlock = document.getElementById('content')

        class ImageViewer {
            constructor() {
                this.selected = -1;
                this.urls = [];

                this.refreshBtn = null
                this.uploadBtn = null
            }

            async get() {
                let res = await fetch(
                    '/img-urls',
                    {
                        method:'GET',
                        data:JSON.stringify({}),
                        headers: { 'Content-type':'application/json' }
                    }
                )

                res = await res.json(); this.urls = []
                for(let i = 0; i < res.length; i++) {
                    this.urls.push(res[i])
                }
            }

            render() {
                headBlock.innerHTML = `
                    :root {
                        --url-bg-col:antiquewhite;
                        --url-selected-col:wheat;
                        --selected-text-col:gray;
                    }

                    #content {
                        padding: 2em;
                    }

                    .col-md-5, .col-md-7, .col-sm-5, col-sm-7 {
                        padding: 0;
                    }

                    .container-type {
                        padding: 0.5em 0.5em;
                    }

                    #url-view {
                        overflow: auto;
                        padding: 0.1em 0.3em;
                        border: solid 2px rgba(0, 0, 0, 0.5);
                        border-radius: 0.3em;
                        height: 30em;
                    }

                    #img-view {
                        overflow: auto;
                        border: none;
                    }

                    img {
                        width: 100%;
                    }

                    .urls
                    {
                        background-color: var(--url-bg-col);
                        margin: 0.1em 0em;
                        padding: 0.1em 0.3em;
                        overflow: auto;
                    }

                    #url-edit-input {
                        outline: transparent;
                        width: 100%;
                    }

                    #choose-file {
                        margin: 1em 0em;
                    }

                    `
                contentBlock.innerHTML = `
                <div class="row">
                    <div class="row">
                        <div class="container-type">
                            <div id="buttons">
                                <form id='main-form'>
                                    <input type="file" id="choose-file" accept="image/*">
                                    <button id="refresh-btn">Refresh</button>
                                    <button id="upload-btn">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <div class="container-type">
                            <div id="url-view">
                                
                                <!--<div class="row urls" id="url-0"> Item </div>-->
            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-5">
                        <div class="container-type" id="img-view-container">
                            <div id="img-view">
                            
                            </div>
                        </div>
                    </div>
                </div>`

                this.refreshBtn = document.getElementById('refresh-btn')
                this.refreshBtn.addEventListener('click', async (event) => {
                    event.preventDefault()
                    await this.get()
                    this.showUrls()
                })

                this.uploadBtn = document.getElementById('upload-btn')
                this.uploadBtn.addEventListener('click', async (event) => {
                    event.preventDefault()
                    const fileInput = document.getElementById('choose-file')

                    if (!fileInput.value) {
                        return
                    }

                    const file = fileInput.files[0]

                    let reader = new FileReader()

                    reader.readAsDataURL(file)

                    reader.addEventListener('load', async (event) => {
                        let formData = new FormData()
                        formData.append('file', reader.result)
                        event.preventDefault()
                        
                        let res = await fetch(
                            '/admin-post/upload',
                            {
                                method:'POST',
                                headers:{'Content-type':'application/json'},
                                body:JSON.stringify({'data':reader.result, 'file-name':file.name})
                            }
                        )

                        this.refreshBtn.click()
                    })

                })
            }
            
            showUrls() {
                this.urlView = document.getElementById('url-view');
                this.urlView.innerHTML = '';
                for(let i = 0; i < this.urls.length; i++) {
                    this.urlView.innerHTML += `<div class='row urls' id='url-${i}' onclick='imgViewer.select(${i})'> /static/images/${this.urls[i]} </div>`
                }
            }

            select(idx) {
                this.selected = idx;
                for(let i = 0; i < this.urls.length; i++) {
                    document.getElementById(`url-${i}`).style.backgroundColor = 'var(--url-bg-col)'
                }
                document.getElementById(`url-${idx}`).style.backgroundColor = 'var(--url-selected-col)'

                document.getElementById('img-view').innerHTML = `<img src='/static/images/${this.urls[idx]}'>`
            }
        }

        let imgViewer = new ImageViewer();

        function showImages() {
            imgViewer.render()

            if (imgViewer.urls.length == 0) {
                imgViewer.get().then( x => imgViewer.showUrls() )
            } else {
                imgViewer.showUrls()
            }
        }

        class PublishViewer {
            constructor() {
                this.current = -1
                this.prevTitle = null

                this.title = null
                this.input = null
                this.preview = null

                this.titleVal = ''
                this.bodyVal = ''

                this.postBtn = null;
            }

            render() {
                headBlock.innerHTML = `
                    #content
                    {
                        height: 95%;
                    }
                    .title
                    {
                        text-align: center;
                        padding: 1em;
                    }
                    #title-text
                    {
                        font-weight: bold;
                        font-style: italic;
                    }
                    .text-fields
                    {
                        width: 100%; height: 80%;
                        padding: 1em 2.5em 0.2em;
                    }
                    #title-input
                    {
                        width: 100%;
                        outline: none;
                        padding: 0.1em 0.3em;
                    }
                    .sub-fields
                    {
                        height: 90%;
                    }
                    #main-input
                    {
                        width: 100%; height: 100%;
                        outline: none;
                        padding: 0.1em 0.3em;
                        margin-top: 1em;
                        resize: none;
                    }
                    #preview
                    {
                        margin-top: 1em;
                        width: 100%; height: 100%;
                        border: solid 1px black;
                        padding: 0.1em 0.3em;
                        height: inherit;
                        overflow:auto;
                    }
                    .buttons
                    {
                        padding: 0em 3em;
                    }
                    #post-btn
                    {
                        outline: transparent;
                        padding: 0.1em 1em;
                    }
                    .container-type
                    {
                        margin: 0;
                        padding: 0.3em;
                        height: 100%
                    }`
            
                contentBlock.innerHTML = `
                    <div class="title">
                        <h1 id="title-text">Create a New Post</h1>
                    </div>
                    <div class="text-fields">
                        <div class="row container-type" style="height: fit-content;">
                            <input type="text" id="title-input" placeholder="Enter the title of the post">
                        </div>
                        <div class="row sub-fields">
                            <div class="col-xs-4 container-type">
                                <textarea id="main-input" placeholder="Type the body of the post."></textarea>
                            </div>
                            <div class="col-xs-8 container-type">
                                <div id="preview">
                                    Preview
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row buttons">
                        <button id="post-btn">Post</button>
                    </div>`

                this.title = document.getElementById('title-input')
                this.input = document.getElementById('main-input')
                this.preview = document.getElementById('preview')

                this.title.value = this.titleVal
                this.input.value = this.bodyVal
                this.preview.innerHTML = this.bodyVal

                this.postBtn = document.getElementById('post-btn')

                this.title.addEventListener('input', (event) => {
                    this.titleVal = this.title.value;
                })

                this.input.addEventListener('input', (event) => {
                    this.bodyVal = this.input.value
                    this.preview.innerHTML = this.input.value;
                    this.title.style.color = 'black';
                })

                this.postBtn.addEventListener('click', async (event) => {
                    let res = await fetch(
                        '/admin-post/publish',
                        {
                            method:'POST',
                            body: JSON.stringify({
                                'title':this.title.value,
                                'body':this.input.value
                            }),
                            headers: {
                                'Content-type':'application/json'
                            }
                        }
                    )
                    
                    res = await res.json()
                    if (res['status'] === 'failure') {
                        this.title.style.color = 'red';
                        this.preview.innerHTML = 'An existing post already has the title.'
                    } else alert('The post has been published successfully.')
                })
            }
        }

        let pubViewer = new PublishViewer()

        function showPublish() {
            pubViewer.render()
        }
        
        class PostViewer {
            constructor() {
                this.bodyView = null
                this.titleViews = null
                this.urlView = null

                this.refreshBtn = null
                this.deleteBtn = null
                this.editBtn = null
                this.saveBtn = null
                this.cancelBtn = null

                this.current = -1
                this.items = []

                this.titleText = null
                this.titleView = null
                this.prevTitle = null
                this.bodyText = null

                this.firstTime = true

                document.addEventListener('click', function(event) {
                    if (!content.contains(event.target)) {
                        if (this.prevTitle) cancelBtn.click();
                    }
                })

                document.onkeydown = (e) => {
                    if ( e.ctrlKey && e.which == 83 ) {
                        event.preventDefault()
                        this.saveBtn.click()
                    }
                }
            }

            displayTitles(parent, list) {
                parent.innerHTML = '';
                for(let i = 0; i < list.length; i++) {
                    parent.innerHTML += `
                        <div class="row titles" onclick="postViewer.select(${i})" id="title-${i}">
                            <em>${list[i].owner}</em> -- ${list[i].title}
                        </div>`
                }

                this.urlView.innerHTML = '<br>'
            }

            render() {
                headBlock.innerHTML = `
                    :root {
                        --title-bg-col:antiquewhite;
                        --title-selected-col:wheat;
                        --selected-text-col:gray;
                    }

                    #content {
                        padding: 2em;
                    }

                    .col-md-5, .col-md-7, .col-sm-5, col-sm-7 {
                        padding: 0;
                    }

                    .container-type {
                        padding: 0.5em 0.5em;
                    }

                    #title-view {
                        overflow: auto;
                        padding: 0.1em 0.3em;
                        border: solid 2px rgba(0, 0, 0, 0.5);
                        border-radius: 0.3em;
                        height: 30em;
                    }

                    #body-view {
                        overflow: auto;
                        padding: 0.1em 0.3em;
                        border: solid 2px rgba(0, 0, 0, 0.5);
                        border-radius: 0.3em;
                        height: 30em;
                    }

                    .titles
                    {
                        background-color: var(--title-bg-col);
                        margin: 0.1em 0em;
                        padding: 0.1em 0.3em;
                        overflow: auto;
                    }

                    #title-edit-input {
                        outline: transparent;
                        width: 100%;
                    }

                    #body-edit-input {
                        outline: transparent;
                        resize: none;
                        width: 100%; height: 90%;
                        overflow: auto;
                        border: none;
                        color: var(--selected-text-col);
                    }

                    #url-view {
                        overflow: auto;
                        padding: 0.1em 0.3em;
                        border: solid 2px rgba(0, 0, 0, 0.5);
                        border-radius: 0.3em;
                        width: 100%;
                    }`

                contentBlock.innerHTML = `
                    <div class="row">
                        <div class="row">
                            <div class="container-type">
                                <div id="buttons">
                                    <button id="refresh-btn">Refresh</button>
                                    <button id="edit-btn">Edit</button>
                                    <button id="cancel-btn">Cancel</button>
                                    <button id="save-btn">Save Changes</button>
                                    <button id="delete-btn">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-7">
                                <div class="container-type">
                                    <div id="title-view">
                                        
                                        <!--<div class="row titles" onclick="display_body(0)"> Item </div>-->
                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-5">
                                <div class="container-type" id="body-view-container">
                                    <div id="body-view">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-type">
                                <div id="url-view">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>`

                this.bodyView = document.getElementById('body-view');
                this.titleViews = document.getElementById('title-view');
                this.urlView = document.getElementById('url-view')

                this.refreshBtn = document.getElementById('refresh-btn')
                this.refreshBtn.addEventListener('click', async (event) => {
                    let res = await fetch(
                        '/admin-post/get-all',
                        {
                            method:'POST',
                            headers: {
                                'content-type':'application/json'
                            },
                            body: JSON.stringify({})
                        }
                    )

                    res = await res.json()
                    this.displayTitles(this.titleViews, res);
                    this.bodyView.innerHTML = ''
                    this.current = -1; this.items = res;
                })

                this.deleteBtn = document.getElementById('delete-btn');
                this.deleteBtn.addEventListener('click', async (event) => {
                    if (this.current == -1) return;
                    let response = await fetch(
                        '/admin-post/delete',
                        {
                            method:'DELETE',
                            headers: {
                                'content-type':'application/json'
                            },
                            body: JSON.stringify({'title':this.items[this.current].title})
                        }
                    )

                    if (response.status != 200) {
                        console.log(`Error while delete ${response.status}`)
                        return
                    }

                    this.items[this.current] = this.items[ this.items.length - 1 ]; this.items.pop()
                    this.displayTitles(this.titleViews, this.items);
                    this.bodyView.innerHTML = ''
                })
            
                this.editBtn = document.getElementById('edit-btn');
                this.editBtn.addEventListener('click', async (event) => {
                    if (document.getElementById('title-edit-input') || this.current == -1) {
                        return
                    }

                    this.titleText = this.items[this.current].title;
                    this.titleView = document.getElementById(`title-${this.current}`)
                    
                    this.titleView.innerHTML = '<input type="text" id="title-edit-input">';
                    document.getElementById('title-edit-input').value = this.titleText;

                    this.prevTitle = this.titleText;
                    this.bodyText = this.items[this.current].body;
                    this.bodyView.innerHTML = '<textarea id="body-edit-input"></textarea>';
                    document.getElementById('body-edit-input').value = this.bodyText;
                })
            
                this.saveBtn = document.getElementById('save-btn');
                this.saveBtn.addEventListener('click', async (event) => {
                    if (this.current == -1 ) return

                    const titleEditInput = document.getElementById('title-edit-input')
                    const bodyEditInput = document.getElementById('body-edit-input')

                    let res = await fetch(
                        '/admin-post/update',
                        {
                            method:'POST',
                            headers: {
                                'content-type':'application/json'
                            },
                            body:JSON.stringify({
                                'prev-title':this.prevTitle,
                                'title':titleEditInput.value,
                                'body':bodyEditInput.value
                            })
                        }
                    )

                    if (res.status != 200) {
                        console.log(`Error while update ${res.status}`)
                        return
                    }
                    this.refreshBtn.click();
                })
            
                this.cancelBtn = document.getElementById('cancel-btn');
                this.cancelBtn.addEventListener('click', async (event) => {
                    this.current = -1; this.prevTitle = null;
                    this.displayTitles(this.titleViews, this.items);
                    this.bodyView.innerHTML = ''
                })
                
                if (this.firstTime) {
                    this.refreshBtn.click()
                    this.firstTime = false;
                } else {
                    if (this.items) {
                        this.displayTitles(this.titleViews, this.items)
                    }
                }
            }

            select(idx) {
                if (document.getElementById('title-edit-input')) {
                    return
                }

                this.bodyView.innerHTML = this.items[idx].body
                this.current = idx;
                
                for(let i = 0; i < this.items.length; i++) {
                    const t = document.getElementById(`title-${i}`)
                    t.style.backgroundColor = 'var(--title-bg-col)';
                }

                const t = document.getElementById(`title-${idx}`)
                t.style.backgroundColor = 'var(--title-selected-col)';

                this.urlView.innerHTML = this.items[idx].url
            }
        }

        let postViewer = new PostViewer()

        function showViewAll() {
            postViewer.render()
        }

    </script>
</body>
</html>