{% extends "admin.html" %}

{% block head %}
<style>
:root {
    --title-bg-col:antiquewhite;
    --title-selected-col:wheat;
    --selected-text-col:gray;
}

#content {
    padding: 2em;
}

.col-md-5, .col-md-7, .col-sm-5, col-sm-7 {
    padding: 0;
}

.container-type {
    padding: 0.5em 0.5em;
}

#title-view {
    overflow: auto;
    padding: 0.1em 0.3em;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    height: 30em;
}

#body-view {
    overflow: auto;
    padding: 0.1em 0.3em;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    height: 30em;
}

.titles
{
    background-color: var(--title-bg-col);
    margin: 0.1em 0em;
    padding: 0.1em 0.3em;
}

#title-edit-input {
    outline: transparent;
    width: 100%;
}

#body-edit-input {
    outline: transparent;
    resize: none;
    width: 100%; height: 90%;
    overflow: auto;
    border: none;
    color: var(--selected-text-col);
}

#url-view {
    overflow: auto;
    padding: 0.1em 0.3em;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    width: 100%;
}

</style>
{% endblock %}



{% block content %}
<div id="content">
    <div class="row">
        <div class="row">
            <div class="container-type">
                <div id="buttons">
                    <button id="refresh-btn">Refresh</button>
                    <button id="edit-btn">Edit</button>
                    <button id="cancel-btn">Cancel</button>
                    <button id="save-btn">Save Changes</button>
                    <button id="delete-btn">Delete</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-7">
                <div class="container-type">
                    <div id="title-view">
                        
                        <!--<div class="row titles" onclick="display_body(0)"> Item </div>-->
    
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="container-type">
                    <div id="body-view">
                        Body
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-type">
                <div id="url-view">
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block footer %}
<script>
    let items = [], current = -1, prevTitle = null;
    const bodyView = document.getElementById('body-view');
    const titleViews = document.getElementById('title-view');
    const urlView = document.getElementById('url-view')

    function selectItem(idx, length) {
        if (document.getElementById('title-edit-input')) {
            return
        }

        bodyView.innerHTML = items[idx].body
        current = idx;
        
        for(let i = 0; i < length; i++) {
            const t = document.getElementById(`title-${i}`)
            t.style.backgroundColor = 'var(--title-bg-col)';
        }

        const t = document.getElementById(`title-${idx}`)
        t.style.backgroundColor = 'var(--title-selected-col)';

        urlView.innerHTML = items[idx].url
    }

    function displayTitles(parent, list) {
        parent.innerHTML = '';
        for(let i = 0; i < list.length; i++) {
            parent.innerHTML += `
            <div class="row titles" onclick="selectItem(${i}, ${list.length})" id="title-${i}"> ${list[i].title} </div>
            `
        }

        urlView.innerHTML = '<br>'
    }

    const refreshBtn = document.getElementById('refresh-btn')
    refreshBtn.addEventListener('click', async (event) => {
        let res = await fetch(
            '/admin-post/get-all',
            {
                method:'POST',
                headers: {
                    'content-type':'application/json'
                },
                body: JSON.stringify({})
            }
        )

        res = await res.json()
        displayTitles(titleViews, res);
        bodyView.innerHTML = ''
        current = -1; items = res;
    })

    const deleteBtn = document.getElementById('delete-btn');
    deleteBtn.addEventListener('click', async (event) => {
        if (current == -1) return;
        let response = await fetch(
            '/admin-post/delete',
            {
                method:'DELETE',
                headers: {
                    'content-type':'application/json'
                },
                body: JSON.stringify({'title':items[current].title})
            }
        )

        if (response.status != 200) {
            console.log(`Error while delete ${response.status}`)
            return
        }

        items[current] = items[ items.length - 1 ]; items.pop()
        displayTitles(titleViews, items);
        bodyView.innerHTML = ''
    })

    const editBtn = document.getElementById('edit-btn');
    editBtn.addEventListener('click', async (event) => {
        if (document.getElementById('title-edit-input') || current == -1) {
            return
        }

        const titleText = items[current].title;
        const titleView = document.getElementById(`title-${current}`)
        
        titleView.innerHTML = '<input type="text" id="title-edit-input">';
        document.getElementById('title-edit-input').value = titleText;

        prevTitle = titleText;
        const bodyText = items[current].body;
        bodyView.innerHTML = '<textarea id="body-edit-input"></textarea>';
        document.getElementById('body-edit-input').value = bodyText;
    })

    const saveBtn = document.getElementById('save-btn');
    saveBtn.addEventListener('click', async (event) => {
        if (current == -1 ) return

        const titleEditInput = document.getElementById('title-edit-input')
        const bodyEditInput = document.getElementById('body-edit-input')

        let res = await fetch(
            '/admin-post/update',
            {
                method:'POST',
                headers: {
                    'content-type':'application/json'
                },
                body:JSON.stringify({
                    'prev-title':prevTitle,
                    'title':titleEditInput.value,
                    'body':bodyEditInput.value
                })
            }
        )

        if (res.status != 200) {
            console.log(`Error while update ${res.status}`)
            return
        }

        refreshBtn.click()
    })

    const cancelBtn = document.getElementById('cancel-btn');
    cancelBtn.addEventListener('click', async (event) => {
        current = -1; prevTitle = null;
        displayTitles(titleViews, items);
        bodyView.innerHTML = ''
    })

    document.addEventListener('click', function(event) {
        if (!content.contains(event.target)) {
            if (prevTitle) cancelBtn.click();
        }
    });

    refreshBtn.click()
</script>
{% endblock %}
